body {
    font-family: Roboto, sans-serif ;
    margin: 0;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;

}

    /* Uppermost page */
.header {
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    height: 150px;


}

.header-logo {
    padding-left: 20%;
    padding-top: 10px;
    color: #e5e7eb;
    font-weight: 700;
    font-size: 24px;

}

.header-links {
    padding-right: 20%;
    padding-top: 10px;


}

    /* Main title */
.header2 {
    display: flex;
    background: #1f2937;
    flex-direction: row;
    height: 350px;
    

    
    
}

.header2-title {
    padding-left: 36%;
    padding-top: 10px;
    color: #e5e7eb;
    font-weight:bolder;
    font-size: 48px;
    width: 75%;

    
}

.header2-text {
    padding-left: 36%;
    padding-top: 10px;
    color: #e5e7eb;
    font-weight:bolder;
    font-size: 18px;
    width: 50%;

}

.header2-right { 
    margin-left: 6%;
    margin-right: 10%;
    align-items: flex-end;
    max-height: 255px;

}

img {
    max-height: 250px;
    border: #e5e7eb;
    border-style: groove;
    
 
}



    /* Links */
ul {
    display: flex ;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 0;

    

}

    /* this removes the line under our links */
a {

    text-decoration: none;
    color: #e5e7eb;
  }